* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

:root {
  --black: #000,
  --white: #ffffff;

  --blue-000: hsl(243, 87%, 12%);
  --blue-100: hsl(238, 22%, 44%);
  --blue-300: #6B9BFF;
  --blue-400: hsl(224, 93%, 58%);
  --blue-500: hsl(170, 45%, 43%);
  --blue-600: hsl(240, 75%, 98%);
  --blue-700: hsl(0, 0%, 75%);
}

body {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 400;
}

button, input, textarea, select, label {
  font-family: Raleway;
}

button {
  cursor: pointer;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
}